.App {
  padding: 40px 0;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.restart-button {
  background: none;
  border: none;
  padding: 10px;
  margin: 10px 0;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
}

.client-id-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.client-id-input {
  border: none;
  background: #ffffff63;
  border-radius: 2px;
  padding: 8px 12px;
  color: white;
  font-size: 1.6em;
  text-align: center;
}

.client-submit-button {
  margin: 10px 0;
  padding: 12px;
  font-size: 16px;
  border-radius: 2px;
  border: none;
  background: #00b200;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
